<!DOCTYPE html>
<html lang="en">
<% include partials/header %>
<body>
  <!-- Top Navigation -->
  <% include partials/nav %>

  <main id="main-container">
    <!-- Side menu for topic selector -->
    <% include partials/sidemenu %>

    <section id="section-container">
      <h2>My Resources</h2>
      <!-- Loops items -->
      <% resources.userResources.forEach(function(item) { %>
        <a href="/resource?id=<%= item.id %>">
          <item>
            <img alt="<%= item.title %>" src="./images/200x200-JS.png"/>
            <span><%= item.title %></span>
            <topic><%= item.topic_name %></topic>
          </item>
        </a>
      <% }); %>

      <h2>Liked Resources</h2>
      <!-- Loops items -->
      <% resources.likedResources.forEach(function(item) { %>
        <a href="/resource?id=<%= item.id %>">
          <item>
            <img alt="<%= item.title %>" src="./images/200x200-JS.png"/>
            <span><%= item.title %></span>
            <topic><%= item.topic_name %></topic>
          </item>
        </a>
      <% }); %>
    </section>

  </main>
  <!-- Include footer information -->
  <% include partials/footer %>
</body>
</html>
