<!DOCTYPE html>
<html lang="en">
<% include partials/header %>
<body>
  <!-- Top Navigation -->
  <% include partials/nav %>

  <main id="main-container">
    <section id="section-container">
      <item id="resource-container">
        <button class="fa-solid fa-xmark" id="closeBtn" onclick="goBack()"></button>
        <aside>
          <img alt="<%= item.title %>" src="./images/200x200-JS.png"/>
          <a class="nav-link" href="<%= item.url %>" target="_blank">Visit Site</a>
          <% if (user !== null) { %>
          <div>
            <div class="star-rating nav-link" id="rating">
              <i class="my-star fa-regular fa-star star-1" data-star="1"></i>
              <i class="my-star fa-regular fa-star star-2" data-star="2"></i>
              <i class="my-star fa-regular fa-star star-3" data-star="3"></i>
              <i class="my-star fa-regular fa-star star-4" data-star="4"></i>
              <i class="my-star fa-regular fa-star star-5" data-star="5"></i>
            </div>
            <form id="rating-form">
            <input type="number" name="rate" readonly id="rating-output" value="<%= rating.rate%>"/>
            <input type="number" readonly id="resource-id" value="<%= item.id%>"/>   
            <input type="number" name="isLike" readonly id="is-like" value="<%= rating.isLike%>"/>    
            <i class="fa-regular fa-heart" id="like"></i>
          </form>
          </div>
          <% } %>
        </aside>

        <article>
          <section id="resource-title">
            <h1><%= item.title %></h1>
            <button class="disabledBtn"><%= item.topic_name %></button>
          </section>

          <section id="resource-stat">
            <div id="avg_rating">Rating: <% if (item.avg_rating === null) { %>No Rating<% } else { %><%= item.avg_rating %> / 5 <% }; %></div>
            <div id="total-likes">Liked: <% if (item.total_like === null) { %>0<% } else { %><%= item.total_like %><% }; %></div>
          </section>

          <section id="resource-desc">
            <h3>Description:</h3>
            <span><%= item.description %></span>
          </section>

          <section id="resource-reviews">
            <h3>Reviews</h3>
            <div id="review-container">
              <h5>Firstname Lastname</h5>
              <span>Review text here...</span>
            </div>
          </section>
          <% if (user !== null) { %>
          <section id="review-input">
            <form id="comments-form" >
              <fieldset>
                <label for="reviewInput"><h3>Add your review:</h3></label>
                <textarea type="text" id="reviewInput" name="review" placeholder="Add your review..."></textarea>
              </fieldset>
                <button type="submit">Submit Review</button>
            </form>
          </section>
          <% } %>
        </article>

      </item>
    </section>

  </main>
  <!-- Include footer information -->
  <% include partials/footer %>
</body>
</html>
